.logo{
	color: gray;
}

.passed{
	color: green;
}

.failed{
	color: red;
}

.error{
	color: #808080;
}

.icon-container{
	padding: 5px;
}

#msg_container{
	height: 50px;

}

#upload_container{
	height: 50px;

}

.process-table-row{
		height: 50px;
}

#process_container td{
	vertical-align:middle;
	font-size: 10px;
}

#result_container td{
	vertical-align:middle;
	font-size: 10px;
}


[id^="status_"] {
	min-width: 80px;
}

[id^="name_"] {
	min-width: 130px;
}

[id^="added_"] {
	min-width: 110px;
}
[id^="lastrun_"] {
	min-width: 120px;
}
[id^="passrate_"] {
	min-width: 37px;
}

.ape-btn-icon{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
	background-size: 20px;
	vertical-align: middle;
	padding: 10px;
}


.ape-btn-icon:disabled{
	opacity: 0.2;
}


.run-btn{
	background-image: url(../pics/icons/run.png);
}


.result-btn{
	background-image: url(../pics/icons/results.png);
}


.delete-btn{
	background-image: url(../pics/icons/delete.png);
	margin-left: 30px;
}


.add-btn{
	background-image: url(../pics/icons/add.png);
}


.log-btn{
	background-image: url(../pics/icons/log.png);
}

.home-btn{
	background-image: url(../pics/icons/home.png);
}

.save-btn{
	background-image: url(../pics/icons/save.png);
	margin-left: 10px;
}

.edit-btn{
	background-image: url(../pics/icons/edit.png);
	margin-left: 3px;
}

.run-btn:hover:enabled{
	background-image: url(../pics/icons/hover/run.png);
}

.result-btn:hover:enabled{
	background-image: url(../pics/icons/hover/results.png);
}

.delete-btn:hover:enabled{
	background-image: url(../pics/icons/hover/delete.png);
	margin-left: 30px;
}

.add-btn:hover:enabled{
	background-image: url(../pics/icons/hover/add.png);
}

.log-btn:hover:enabled{
	background-image: url(../pics/icons/hover/log.png);
}

.home-btn:hover:enabled{
	background-image: url(../pics/icons/hover/home.png);
}

.save-btn:hover:enabled{
	background-image: url(../pics/icons/hover/save.png);
}

/*#ffa500*/
.edit-btn:hover:enabled{
	background-image: url(../pics/icons/hover/edit.png);
}

.canvasjs-chart-credit{
	visibility: hidden;
}

#trial{
	width: 60px;
	height: 20px;
	background-color: white;
	position: relative;
	bottom: 15px;
}

#ape-logo{
	height: 125px;
	margin-left: 12px;
}

#ape-title-container{
	position: absolute;
	bottom: 0;
	padding-left: 37px;
}

#ape-title-container h1{
	font-size: 1.5rem;
	letter-spacing: 4px;
}
	
.header-container{
	margin-top: 10px;
	margin-bottom: 42px;
}

.container {
	max-width: 620px !important;
}

.ape-input{
	width: 50%;
	height: 25px;
	border: 1.5px solid #000
}

.ape-input:focus{
	outline: none;
	border: 1.5px solid #ffa500
}

.ape-input-label{
	font-size: 10px;
	margin-bottom:0px;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
	padding-left:5px;
	padding-bottom: 4px;
}

.ape-error-container{
	margin-top: 0.125rem;
	height: 25px;
}

.ape-error-container small{
	color: red !important;
}

#process_statistics{
	margin-top:20px;
}

.result-category{
	width: 70px;
}

.ape-status-icon{
	height: 20px;
	width: 20px;
	margin-bottom: 6px;
}

.ape-edit-path{
	margin-top: 15px;
	margin-bottom: 0rem !important;
}

#process_container h1{
	font-size: 1.25rem;
}

#process_container th{
	font-size: 0.5rem;
	padding: 0.32rem;
}

#process_container td{
	padding: 0.32rem;
}

#process_statistics{
	margin-top:20px;
}

#result_container th{
	font-size: 0.5rem;
	padding: 0.32rem;
}

#result_container td{
	padding: 0.32rem;
}
#result_container h1{
	font-size: 1.25rem;
}

.container h1{
	font-size: 1.25rem;
}

#process_statistics td{
	font-size: 0.6rem;
	padding: 0.32rem;
}
