<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="../static/css/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
	<script src="../static/css/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename="js/ape_functions.js")}}"></script>
</head>
<body>
	<header>
		<div class="container header-container">
			<div class="row">
				<div class="col-2">
					<img src="../static/pics/black.jpg" alt="logo" id="ape-logo">
				</div>
				<div class="col-10">
					<div id="ape-title-container">
						<h1 class="display-4">AUTOMATIC</h1>
						<h1 class="display-4">PROCESS</h1>
						<h1 class="display-4">EXECUTOR</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>